<ion-view title="Direct Action Everywhere" hide-back-button="true" style="background: #1b5a83" hide-nav-bar="true">

    <style>
        .login-banner {
            margin-left: auto;
            margin-right: auto;
        }
        .login {
            background: url('./img/login_backdrop.jpg') no-repeat center;
        }
    </style>

    <ion-header-bar class="bar bar-header" style="height:66px;">
    <img class="login-banner" src="./img/banner.png">
    </ion-header-bar>

    <ion-content class="login" has-header="true" padding="true">
    </ion-content>

    <div class="tabs tabs-color-assertive" style="height:66px;">
        <button class="button button-block button-light" ng-click="facebookLogin()">
            <i class="icon ion-social-facebook"></i>
            &nbsp;Login with Facebook
            <br>
        </button>
    </div>

</ion-view>
